.auth-nav {
    display: flex;
    margin-left: auto;

    .item {
        margin-right: 50px;
    }

    .item + .item {
        margin-right: 50px;
    }
}

.contacts a {
    color: $primary-text-color;
}

.link-nav {
    display: flex;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .svg-nav,
    &:focus .svg-nav {
        fill: $accent-color;
    }
}

.svg-nav {
    margin-right: 10px;
    fill: $primary-text-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    margin-bottom: 9px;
  
    color: $white-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1, 71;
  }
  
  .mail-phone a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1, 71;
  }
  
  .mail {
    display: inline-block;
    padding-bottom: 9px;
  }
  
  .tell {
    display: inline-block;
  }
  
  

