.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item {
    margin-right: 50px;
}

.auth-nav .item + .item {
    margin-right: 50px;
}

.contacts a {
    color: var(--primary-text-color);
}

.link-nav {
    display: flex;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-nav {
    margin-right: 10px;
    fill: var(--primary-text-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover .svg-nav,
.link-nav:focus .svg-nav {
    fill: var(--accent-color);
}

