.logo {
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
    
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
    color: var(--accent-color);
}

.part-logo {
    color: var(--accent-color);
}