.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    padding-top: 32px;
}

.site-nav a,
.auth-nav a {
    color: var(--title-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover, 
.site-nav a:focus,
.auth-nav a:hover, 
.auth-nav a:focus {
    color: var(--accent-color);
}

.site-nav a.current:visited {
    color: var(--accent-color);
}

a.current::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 28px;
    height: 4px;
    border-radius: 2px;
    color: var(--accent-color);
    background-color: var(--accent-color);
} 

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}




